<div class="contenedor">

  <h3>Crear Empresa</h3>
  <form>
  <div class="form-group">
    <label for="formGroupExampleInput">Nombre de la Empresa</label>
    <input type="text" class="form-control" id="n_empresa" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Clase de Empresa</label>
    <input type="text" class="form-control" id="c_empresa" placeholder="Categoria">
  </div>
<button type="button" class="btn btn-info" id="btn_crear_e">Crear</button>

</form>

</div>


<script>

$(document).ready(function(){
  $('#btn_crear_e').click(function(){
  var nombre_e = $('#n_empresa').val();
  $.ajax({
    type: 'get',
    data_type: 'script',
    url: '<%= empresas_path %>',
    data: {name: {nombre_e}  }
  })



  })
})

</script>
